
* {
    box-sizing: border-box;
}

body {
    background-color: rgb(24, 24, 24);
}
h1 {
    text-align: center;
    font-family: 'Fruktur', cursive;
    color: rgb(255, 255, 255);
    font-size: 57px;
    margin-top: auto;
    margin-bottom: 50px;
}
img{
    width: 10%;
    margin: auto 89px;
    border: 4px solid rgb(243, 208, 12);
}
.para{
    text-align: center;
    color: rgb(11, 121, 247);
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    
}
li{
    list-style: none;
}