body {
    background-image: url('bgimg.jpg');
}
.heading {
    font-size: 50px;
    font-family: 'Henny Penny';
    color: rgb(235, 167, 128);
    text-align: center;

}
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
   .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .row {
    display: flex;
  }
  
  .column {
    flex: 33.33%;
    padding: 5px;
  }