.navbar {
    background-color: black;
    border-radius: 28px;
    text-align: center;

}
.navbar ul{
    overflow: auto;
}
.navbar li {
    list-style: none;
    float: left;
    margin: 18px 23px;
}
.navbar li a{
    padding: 3px 3px;
    text-decoration: none;
    color: white;

}
.navbar li a:hover{
    color:rgb(240, 238, 136);
}
.search {
    float: right;
    color: white;
    padding: 14px 60px;


}
.navbar input{
    padding: 4px 6px;
    border: none;
    border-radius: 5px;

}
.container {
    position: relative;
    text-align: center;
    color: rgb(250, 250, 195);
}
.centered {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 170px;
    font-family: 'Nosifer', cursive;
  }
